In [1]:
#Introduction to LIST datatype:

#Defination:A List is a collection of items declared in a particular order

#Classfication: It is a classified as a mutable datatype

# How to define/Declare a list ......?===>[]

students=['Naveen','Abdual','Imran','Joseph','Keerthi','Shaheen','Dolly','Navya']
print(students);

['Naveen', 'Abdual', 'Imran', 'Joseph', 'Keerthi', 'Shaheen', 'Dolly', 'Navya']

In [2]:
type(students)

list

In [13]:
# 1.How to access the above elements in the list...?

#req :I want to access  'Abdual' from the above list,How to do that...?

#Introduction to Indexing :0,1,2,3,4,5,...

print(students[1])

Abdual

In [15]:
#req : I want to access 'Keerthi' from above list...?

print(students[4])

Keerthi

In [16]:
# 1. How to add new element  to the list
# 2. How to modify the element in the list
# 3. How to delete the element from the list

#Req: I want to add 'Kumar' Name to the above list......?

students.append('Kumar')
print(students)

['Naveen', 'Abdual', 'Imran', 'Joseph', 'Keerthi', 'Shaheen', 'Dolly', 'Navya', 'Kumar']

In [17]:
#Req : I want to add 'SANA' name to the above list...?

students.append('Sana')
print(students)

['Naveen', 'Abdual', 'Imran', 'Joseph', 'Keerthi', 'Shaheen', 'Dolly', 'Navya', 'Kumar', 'Sana']

In [19]:
#req : I want to add Yamini to the above list in the 2nd position...?

students.insert(2,'Yamini')

print(students)

['Naveen', 'Abdual', 'Yamini', 'Imran', 'Joseph', 'Keerthi', 'Shaheen', 'Dolly', 'Navya', 'Kumar', 'Sana']

In [21]:
#Interview Question :

#What is the difference between Append and Insert method in the list..?

#Append :Using Append function in python to add the element ,Need to pass single argument,
#It is stored last postion in the list and Increased the index

#Insert : Using Insert function need to pass two arguments one is position of index and second one is value

In [23]:
#req : I want to Modify 'Naveen' Name to Navaya....?

print(students[0])

Naveen

In [25]:
students[0] = 'Navya'

print(students)

['Navya', 'Abdual', 'Yamini', 'Imran', 'Joseph', 'Keerthi', 'Shaheen', 'Dolly', 'Navya', 'Kumar', 'Sana']

In [27]:
#req : I want to delete 'Joseph' from the above list

del students[4] #permanently deleting the things

print(students)

['Navya', 'Abdual', 'Yamini', 'Imran', 'Keerthi', 'Shaheen', 'Dolly', 'Navya', 'Kumar', 'Sana']

In [28]:
#Req: Temp Deletion

#Python list method pop() removes and returns last object or obj from the list.

print(students.pop)

<built-in method pop of list object at 0x0000021BF99CCD80>

In [29]:
print(students.pop())

Sana

In [31]:
print(students.pop())

Kumar

In [32]:
print(students)

['Navya', 'Abdual', 'Yamini', 'Imran', 'Keerthi', 'Shaheen', 'Dolly', 'Navya']

In [34]:
# Interview Question 

#Difference between Delete and POP

In [35]:
# Delete  : Delete clause is used to delete the record permenantly..

#POP : POP() clause is used to delete the record and show that which record is deleted